body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

h1{
    color: limegreen;
    font-size: 50px;
    margin: 0;
}

h2, h3, h4{
    display: flex;
    margin: 0;
}

p{
    color: white;
    font-size: 20px;
    margin: 0;
    white-space: normal;
}

b{
    font-size: 26px;
}

/* Navigation Bar */
header {
    background-color: #1f1f1f;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 255, 85, 0.5);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    font-size:20px;
    padding: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00FF00;
    text-decoration: underline;
}

.section {
    padding-top: 110px; 
    margin-top: -80px; 
}

/* Containers */
.product-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.about-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2%;
}

/* Home Page */
.hero {
    text-align: center;
    padding: 120px 25px;
    background: linear-gradient(45deg, #00ff00, #004400);
    color: #000;
}

/* Home Gallery */
.home-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 2%;
}

.home-gallery article {
    text-align: center;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;    
}

.home-gallery article:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 255, 0, 0.3);
}

.home-gallery img {
    max-width: 100%;
}

/* Button */
.find-out-more {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* Product Page */
.product-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Product Gallery */
.product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 2%;
}

.product-gallery article h3, .product-gallery article p {
    text-align: start;
    background-color: #1f1f1f;
    padding: 10px 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-gallery article {
    text-align: center;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;    
}

.product-gallery article:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 255, 0, 0.3);
}

.product-gallery img {
    max-width: 100%;
}

/* About Page */
/* Video in About page */
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%; 
    /* min-height: 100%; */
}

#myBtn {
    top: 20px;
    left: 20px;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.content {
    position: absolute;
    top: 120px;
    text-align: center;
    text-shadow: #000;
    color: #f1f1f1;
    padding: 0 20%;
    width: 60%;
}

/* Wrap text around image in Mangement Team */
.Management-team{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img.float-left {
    float: left;
    width: 20%;
    margin: 0 15px 15px 0;
}

.wrap-text {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

hr{
    border: 1px solid grey;
    width: 90%;
}

/* Contact Pages */
.Icon{
    display: flex;
    align-items: center;
}

/* Contact Form */
form{
    display: flex;
    flex-direction: column;
}

#firstName, #lastName {
    width: 45%;
}
  
.name-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
input, textarea {
    padding: 12px;
    border: 1;
    border-color: #fff;
    background: #000;
    font-size: 16px;
    margin-bottom: 16px;
}
  
textarea {
    height: 120px;
    resize: none;
}
  
.submit-btn {
    width: 100%;
    padding: 12px;
    background: #00ff00;
    color: #000;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

